body {
	font-family: 'Montserrat', sans-serif;
}

.topHeader .content-topHeader {
	background-color: #F3F3F3;
	text-align: center;
	padding: 5px;
	font-size: 15px;
}

.midHeader .logo {
	height: 210px;
	margin-left: -60px;
}

.icon-cart i, .icon-search i, .icon-account i {
	margin-top: 100px;
	color: black;
	font-size: 30px;
	padding: 10px;
}

.icon-cart a, .icon-search a, .icon-account a {
	text-decoration: none;
}

#search {
	display: none;
}

.header-wrap-icon>span {
	display: inline-block;
	margin: 8px 5px 0;
	position: relative;
	transition: opacity 150ms linear;
}

.cart-menu .count-holder {
	position: absolute;
	margin-top: 96px;
	margin-left: -20px;
	font-weight: bold;
	text-align: center;
}

.cart-menu .count-holder .count {
	color: #330033;
}

.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: #0087ca;
}

.hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #666666;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.bottomHeader .list-desktopMenu {
	list-style: none;
	text-align: center;
}

.bottomHeader .list-desktopMenu>li {
	display: inline-block;
	padding: 5px 25px 5px 25px;
}

.bottomHeader .list-desktopMenu>li>a {
	text-decoration: none;
	color: black;
}

.bottomHeader .list-desktopMenu>li>a:hover {
	color: red;
}

.bottomHeader .sub-desktopMenu {
	z-index: 1;
}

.bottomHeader .sub-desktopMenu>li {
	display: none;
}

.bottomHeader .desktopMenu .list-desktopMenu li:hover .sub-desktopMenu {
	position: absolute;
}

.bottomHeader .desktopMenu .list-desktopMenu li:hover .sub-desktopMenu>li
	{
	display: block;
	text-align: left;
	padding-top: 5px;
	margin-left: -35px;
}

.bottomHeader .desktopMenu .list-desktopMenu li:hover .sub-desktopMenu>li>a
	{
	color: black;
	text-decoration: none;
	display: block;
	background-color: white;
	padding: 5px;
	width: 74.84px;
	height: 23.99px;
	margin-left: -5px;
}

.bottomHeader .desktopMenu .list-desktopMenu li:hover .sub-desktopMenu>li>a:hover
	{
	color: red;
}

img.sizeProduct {
	width: 100%;
	height: 320px;
}